.filterLabel {
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.input {
  margin: 0 auto;
  margin-top: 15px;
  width: 220px;
  height: 25px;
  border: 2px solid lightgrey;
  align-items: center;
}
